<!DOCTYPE html>
{% extends "template.html" %}


{% block title %}

  UPLOAD

{% endblock %}

{% block content %}

    <h1>-Upload-</h1>
    <p>
        Welcome to the main page of my website <br>
        This is where the main bulk of operations will occur
    </p>
    <form method = "POST" enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit" value="upload"/>
    </form>
    {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                 <p>{{ message }}</p>
             {% endfor %}
         {% endif %}
    {% endwith %}


{% endblock %}
